.page-header{
    background: #428bca;
    margin-bottom: 4%;
}

.title{
    color: #ffffff;
    text-align: center;
}

table.rubric-table{
    font-size: 11pt;
    box-sizing: border-box;
    margin-left: 4%;
    width: 90%;
    max-width: 90%;
    border-collapse: collapse;
    /*border: solid #e0e0dc;*/
    /*border-width: 1px;*/
    overflow: scroll;
    border: 0;
    border-spacing: 1;
    border-padding: 0;
    /*background-color: white;*/
}

.rubric-title{
    text-align: left;
    font-weight: bold;
}

.rubric-aspect{
    text-align: left;
    vertical-align: top ;
    padding-top: 10px;
    padding-left: 5px;
    border: solid #e0e0dc;
    border-width: 1px;
}

.rubric-aspect-backg{
    background-color: #efefef;
}

.rubric-selected-option{
    background-color: #00d507;
    color: #e0e0dc;
}

.align-center{
    text-align: center;
}

.indicator-text{
    font-size: 1.3em;
}

.rubric-footer{
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.list-group{
    max-width: 400px;
    margin-bottom: 3%;
}

.rubric-list{
    margin: 0% 14% 0% 4%;
    width: 80%;
    display: inline-block !important;
    border: 1px solid lightgray;
    background-color:#428bca;
    font-size: 12pt;

}

.details-but{
    float: right;
    margin-right: 3px;
}

.add-button{
    margin-left:40%;
    font-weight: bold;
    font-size: 20px;
    margin-right:40%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.delete-button{
    font-size: 20px;
    float: right;
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-margin{
    margin: 5%;
}


#Buscador {
  background-size: 24px;
  width: 500px;
  border: transparent;
  border-bottom: solid 1px #ccc;
  padding: 10px 10px 10px 30px;
  outline: none;
}
/*<!-- By AngelKrak -->*/

.editable{

    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px dotted black;
}